{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
     <h1>Bienvenue {{ app.user.email }}</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <p>vous etes admin<p>
    {% endif %}
{% endblock %}
