<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav>
    <a href="{{path('tournois')}}">Tournois<a/>
    <a href="{{path('equipe')}}">Equipe<a/>
    <a href="{{path('joueur')}}">Joueurs<a/>
    <a href="{{path('admin')}}">Tableau de bord<a/>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
