{% extends 'base.html.twig' %}

{% block title %}Equipes{% endblock %}

{% block body %}
{% for equipe in equipes %}
<a href="{{path('equipeShow',{'slug': equipe.slug}) }}"> {{equipe.nom}} </a> | <a href="{{path('delete_equipe',{'slug': equipe.slug}) }}"> Supprimer </a>  <br>


{% endfor %}
    {{form(ajout)}}
{% endblock %}
