{% extends 'base.html.twig' %}

{% block title %}Equipes{% endblock %}

{% block body %}
<div class="p-2 bg-gray-300 h-screen">

    <div class="p-2 bg-gray-300 ml-32 mt-12">
        {{form(ajout)}} 
    </div>
    
    <div class="mt-6">
        <h1 class="text-6xl font-medium text-center">Liste des equipes</h1>
        {% for equipe in equipes %}
        <div class="mt-16 ml-64">
            <a href="{{path('equipeShow',{'slug': equipe.slug}) }}" class="text-4xl font-medium"> {{equipe.nom}} </a>  {% if is_granted('ROLE_ADMIN') %}|<a href="{{path('delete_equipe',{'slug': equipe.slug}) }}" class="text-2xl text-red-900"> Supprimer </a>  <br>
        </div>
        
        {% endif %}
    </div>
    
    
    

    
    {% endfor %}
    
    
    
</div>

{% endblock %}
